<header class="home-menu">
  <nav>
    <ul class="main-menu">
      <li class="menu-item">
        <dl>
          <dt>Viernes, sábado, domingo y festivos.</dt>
          <dd>Abierto de 10.00 a 15.30 h.</dd>
        </dl>
      </li>
      <li class="menu-item tap-logo"><img src="/-/tap.svg"><p>Comida casera para llevar</p></li>
      <li class="menu-item">
        <dl>
        <dt>Haz tu pedido</dt>
          <dd><a href="tel:931868378" class="call-me">931 868 378</a></dd>
        </dl>
      </li>
    </ul>
  </nav>
</header>
