// elements.scss: unclassed HTML elements (type selectors).

// *:hover { background-color: $red !important; }
// * { border: 1px solid $red !important; }

html {
  background-color: $g99;
  box-sizing: border-box;
  color: $g24;
  font: 100%/1.5 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  @media all and (min-width: 96em) {
    font-size: 150%;
  }
  @media all and (min-width: 144em) {
    font-size: 200%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}

a {
  color: $g24;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dl, dt, dd {
  margin: 0;
}

iframe {

}

img {
  display: block;
}
