// objects.scss: cosmetic-free design patterns (OOCSS).

.container {
  margin: 0 auto 6em;
  max-width: 64em;
  padding: 0 1em;
}

.home-menu {
  border-bottom: 1px solid $g96;
  padding-bottom: 2em;
  margin: 4em 0 0;
}

.main-menu {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-align: center;
  @media all and (min-width: 56em) {
    flex-wrap: no-wrap;
  }
  > .menu-item {
    flex: 0 0 100%;
    margin-top: 2em;
    @media all and (min-width: 48em) {
      flex: 0 0 50%;
      margin-top: 2em;
    }
    @media all and (min-width: 56em) {
      flex: 1 1 33.3333%;
    }
    dt {
      font-size: $f14;
      font-weight: 800;
      margin-bottom: .5em;
      text-transform: uppercase;
    }
    dd {
      font-size: $f18;
      font-weight: 600;
      margin-bottom: .5em;
    }
  }
  .call-me {
    background: url('/-/phone.svg') -1em 60% no-repeat;
    background-color: #96CC28;
    border-bottom: 1px solid #87B824;
    border-radius: 3px;
    color: $w;
    font-weight: 800;
    padding: .375em 2em .25em;
    transition: all .25s ease-out;
    &:hover {
      background: url('/-/phone.svg') 1.5em 60% no-repeat;
      background-color: #87B824;
      color: $w;
      margin-top: 1px;
      padding: .375em 2em .25em 3em;
      text-decoration: none;
    }
  }
  .tap-logo {
    flex: 0 0 100%;
    order: -1;
    @media all and (min-width: 64em) {
      flex: 1 1 33.3333%;
      order: 0;
    }
    img {
      margin: 0 auto;
      max-width: 100%;
      width: 20em;
    }
    p {
      font-size: $f24;
      font-weight: 600;
    }
  }
}

.main-content {
  > article {
    img {
      margin: 0 auto;
      max-width: 100%;
      @media all and (min-width: 48em) {
        max-width: 64%;
      }
    }
  }
}

// .cover-image {

// }

.tap-intro {

}

// .tap-timetable {

// }

// .tap-social {

// }

.tap-catering {
  > img {
    border-top: 2px solid #E57B80;
  }
}

.tap-map {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  @media all and (min-width: 48em) {
    padding-bottom: 33.3333%;
  }
}
.tap-map iframe,
.tap-map object,
.tap-map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-footer {
  background-color: $g16;
  color: $w;
  padding: 4em 0;
  a {
    color: $w;
  }
  > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 75%;
  }
  address {
    flex: 0 0 100%;
    font-style: normal;
    margin: 0 0 2em;
    max-width: 100%;
    @media all and (min-width: 48em) {
      flex: 0 1 auto;
      min-width: 25%;
    }
  }
  dt {
    font-size: $f16;
    font-weight: 800;
    margin-bottom: 1em;
    xtext-align: center;
    text-transform: uppercase;
    @media all and (min-width: 48em) {
      text-align: left;
    }
  }
  dd {
    margin-top: .25em;
    xtext-align: center;
    @media all and (min-width: 48em) {
      text-align: left;
    }
  }
  .tap-whitelogo {
    img {
      margin: 0 auto 4em;
      max-width: 100%;
      width: 10em;
    }
  }
  .social-media {
    display: block;
    padding-left: 1.5em;
  }
  .facebook {
    background: url('/-/facebook.svg') 0   50% no-repeat;
  }
  .instagram {
    background: url('/-/instagram.svg') 0 66% no-repeat;
  }
  .twitter {
    background: url('/-/twitter.svg') 0 66% no-repeat;
  }
}